div {
    max-width: 1600px;
}

#content {
    margin: 0 auto;
}

nav a {
    text-align: center;
    text-decoration: none;
    background-color: #CD131F;
    color: #FEF8EC;
    
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #7A0000;
}

body {
    background-color: #AAC7DA;
}

header {
    background-color: #CD131F;
}

nav a:hover {
    background-color: #CD131F;
    color: #7A0000;
}

.book, .join {
    background-color: #FEF8EC;
    color: #7A0000;
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color: #CD131F;
    color: #7A0000;
}

.msg {
    background-color: #FEF8EC;
}

footer {
    background-color: #CD131F;
    color: #FEF8EC;
}

.home-title {
    color: #FEF8EC;
}

h4 {
    color: #FEF8EC;
}

.msg h2 {
    color: #7A0000;
}

.msg p {
    color: #7A0000;
}

footer a {
    color: #FEF8EC;
    text-decoration: none;
}

footer a:hover {
    color: #7A0000;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

.card-img {
    width: 100%;
}

.canyons {
    width: 100%;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}



