@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

/*the whole page*/
body {
    background-color: black;
    color: white;
    font-family: Lora;
    margin: 0px;
}

/*nav bar*/
#logo {
    width: 120px;
    padding: 0px;
}

.topnav a.logolink {
    padding: 0;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: black;
    overflow: hidden;
}
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #1F838F;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

/*hero haptic definition*/
#hero {
    height: 750px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#hero h1 {
    font-size: 8vw;
    padding: 30px 20px 0px 60px;
    margin: 0px;
    text-align: left;
    align-content: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

#hero h3 {
    font-size: 3vw;
    padding: 0px 20px 20px 100px;
    margin: 0;
    grid-column: 1/2;
    grid-row: 2/3;
}

/*The Problem*/
#problem {
    height: 350px;
    background-color: #F48924;
    text-align: center;
    margin: 20px;
    border-radius: 2px;
}

#problem h2 {
    font-size: 3em;
    text-align: center;
    padding: 40px 0px 0px 20px;
}

#problem h3 {
    font-size: 2.5vw;
    padding-left: 60px;
    padding-right: 60px;
}

/*The Brain*/
#brain {
    position: relative;
    text-align: center;
    margin: 20px;
}

#brain img {
    width: 100%;
}

#brain h2 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    font-size: 3vw;
    padding: 10px;

    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, .8); /* Black background with 0.5 opacity */
}

#brain h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    font-size: 2vw;
    padding: 20px;

    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.8); /* Black background with 0.5 opacity */
}

/*substitution box*/

#ssd {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
}

#ssd h3 {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 0px 20px 20px 40px;
    font-size: 3vw;
}

#ssd p {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 70px 20px 20px 40px;
    font-size: 2vw;
}

#ssd img {
    grid-column: 2/3;
    grid-row: 1/2;

    height: auto;
    width: 30vw;

    border-radius: 10px;
    border: 3px solid grey;
    margin: 20px;
}

/*addition box*/
#sad {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
}

#sad img {
    grid-column: 1/2;
    grid-row: 1/2;

    max-width: 100%;
    height: auto;
    width: 30vw;

    margin: 20px;
    border-radius: 10px;
}

#sad h3 {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 0px 20px 20px 40px;
    font-size: 3vw;
}

#sad p {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 70px 20px 20px 40px;
    font-size: 2vw;
}

/*wrap up box*/
#wrap {
    background-color: #1F838F;
    height: 300px;
    text-align: center;
    position: relative;
}

#wrap h2 {
    font-size: 3vw;
    padding: 20px 20px 0px 20px;
    margin: 30px;
}

#wrap a {
    text-decoration: none;
    font-size: 1.5em;
    color: #063B4B;
    background-color: white;
    padding: 10px;
}

#wrap a:hover {
    background-color: black;
}

/**/
footer p{
    font-size: .8em;
    color: grey;
}